<div class="articles-container">

	<div class="title">
		Most recent articles
	</div>

	<div class="article-lockup">

		<div class="item">
			<h4>Tasty Summer Teas</h4>
			<!-- <div class="image"></div> -->
			<p class="blurb">Lorem ipsum dolor sit amet, te detracto legendos his, soluta offendit splendide pri et, te saperet vivendum tractatos mel. Constituto definitionem at his, cu mei nusquam voluptatibus...</p>
		</div>

		<div class="item">
			<h4>Hennessey Hammock Review</h4>
			<!-- <div class="image"></div> -->
			<p class="blurb">Lorem ipsum dolor sit amet, te detracto legendos his, soluta offendit splendide pri et, te saperet vivendum tractatos mel. Constituto definitionem at his, cu mei nusquam voluptatibus...</p>
		</div>

		<div class="item">
			<h4>New Forest Mushroom Odyssey</h4>
			<!-- <div class="image"></div> -->
			<p class="blurb">Lorem ipsum dolor sit amet, te detracto legendos his, soluta offendit splendide pri et, te saperet vivendum tractatos mel. Constituto definitionem at his, cu mei nusquam voluptatibus...</p>
		</div>
		
	</div>

	<div class="more-articles"></div>
</div>