<div class="articles-container">
	<div class="article-list">

		<div class="article-lockup">
			<div class="image"></div>
			<p class="blurb">Lorem ipsum dolor sit amet, te detracto legendos his, soluta offendit splendide pri et, te saperet vivendum tractatos mel. Constituto definitionem at his, cu mei nusquam voluptatibus.</p>
		</div>

		<div class="article-lockup">
			<div class="image"></div>
			<p class="blurb">Lorem ipsum dolor sit amet, te detracto legendos his, soluta offendit splendide pri et, te saperet vivendum tractatos mel. Constituto definitionem at his, cu mei nusquam voluptatibus.</p>
		</div>

		<div class="article-lockup">
			<div class="image"></div>
			<p class="blurb">Lorem ipsum dolor sit amet, te detracto legendos his, soluta offendit splendide pri et, te saperet vivendum tractatos mel. Constituto definitionem at his, cu mei nusquam voluptatibus.</p>>
		</div>
		
	</div>

	<div class="more-articles"></div>
</div>