
<div class="container">
	<h3>Welcome to Boldly Goes</h3>

	<p>Intro text here</p>
	<!-- <p>Welcome to BoldlyGoes, This is the record of the outdoor adventures of James Harvey and Sam, Hertfordshire lads with a hunger for outdoor adventure and camping in cosy spots around England.</p>
	<p>Within this blog you will find a mixture of reviews of our gear, tales from camping overnighters around the UK, and logs of larger expenditions to other countries.</p>
	 -->	

	<div class="faces-lockup"> 
	<div class="face">Face1</div>
	<div class="face">Face2</div>
	<div class="face">Face3</div>
	</div>
</div>
