
<div class="introduction-container">
	<h3>Welcome to Boldly Goes</h3>

	<p>Lorem ipsum dolor sit amet, euismod fuisset minimum ne usu, ne has habeo eirmod labores. Aeque maluisset adipiscing per et, no dicunt dolorum sed, erant aeque facilisis ea vis. Duo eu scripta virtute, has ut brute nonumy dissentias. Explicari reformidans ex sit, an meliore indoctum vulputate pri. Ei mel liberavisse theophrastus, audiam deseruisse no quo. Ex elitr nemore regione vel.
	</p>
	<!-- <p>Welcome to BoldlyGoes, This is the record of the outdoor adventures of James Harvey and Sam, Hertfordshire lads with a hunger for outdoor adventure and camping in cosy spots around England.</p>
	<p>Within this blog you will find a mixture of reviews of our gear, tales from camping overnighters around the UK, and logs of larger expenditions to other countries.</p>
	 -->	

	<div class="faces-lockup"> 
		<a class="faces james" href="https://www.instagram.com/j.s.b.1990/"></a>
		<a class="faces sam" href="https://www.instagram.com/scs_h/"></a>
		<a class="faces harvey" href="https://www.instagram.com/harvey.rae/"></a>
	</div>
</div>
