
<div class="introduction-container">
	<h3>Welcome to Boldly Goes</h3>
	<!-- <p>Welcome to BoldlyGoes, This is the record of the outdoor adventures of James Harvey and Sam, Hertfordshire lads with a hunger for outdoor adventure and camping in cosy spots around England.</p>
	<p>Within this blog you will find a mixture of reviews of our gear, tales from camping overnighters around the UK, and logs of larger expenditions to other countries.</p>
	 -->	
	 <!-- <div class="quote-lockup">
	 	<div class="quote-day">
	 		"Every year there is put upon the market some patent knapsack, folding stove, cooking-utensil, or camp trunk and cot combined; and there are always for sale patent knives, forks, and spoons all in one, drinking-cups, folding portfolios, and marvels of tools. Let them all alone: carry your pocket-knife." John M. Gould, 1877.
	 	</div>
	 </div> -->

	<div class="faces-lockup"> 
		<a class="faces james" href="https://www.instagram.com/j.s.b.1990/"></a>
		<a class="faces sam" href="https://www.instagram.com/scs_h/"></a>
		<a class="faces harvey" href="https://www.instagram.com/harvey.rae/"></a>
	</div>
</div>
