/* 
.faces-lockup{
	margin: 20px auto 30px auto;
	height: 200px;
	width: 780px;
	text-align: center;

	.faces{
		width: 200px;
		height: 200px;
		border-radius: 50%;
		background-size: cover;
		background-position: center;
		margin-right: 20px;
	}

	.sam{
		background-image: url(../media/img/sam-small.png);
		display: inline-block;
	}

	.james{
		background-image: url(../media/img/james-small.png);
		display: inline-block;
	}

	.harvey{
		background-image: url(../media/img/harvey-small.png);
		display: inline-block;
	}
} */


.body-lockup {
	width: 100%;
	height: 1200px;
	@import url('https://fonts.googleapis.com/css?family=Droid+Serif');
	font-family: 'Droid Serif', serif;
	color: #3A4145;

	a, a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    font-size: 24px;
    color: white;
    font-style: bold;
    margin: auto;
    	 span {
    	 	font-size: 16px;
    	 }
	}

	.first-line {

		.top-left {
			width: 40%;
			height: 600px;
			float: left;
			background-size: cover;
			background-position: center;
			text-align: center;
			vertical-align: middle;
			line-height: 600px;
			color: white;

			.overlay {
				display:none;
			}
		}

		.top-left:hover > .overlay {
		    width:40%;
		    height:600px;
		    position:absolute;
		    background: rgba(114, 145, 156, 0.6);
		    color: white;
		    font-size: 24px;
		    color: white;
		    display:block;
		}
		.top-right {
			width: 60%;
			height: 600px;
			float: left;
			background-image:url(/media/img/new-forest.jpg);
			background-size: cover;
			background-position: center;
			text-align: center;
			vertical-align: middle;
			line-height: 600px;
			color: white;

			.overlay {
				display: none;
				color: white;
			}
		}

		.top-right:hover > .overlay {
		    width:60%;
		    height:600px;
		    position:absolute;
		    background-color:#000;
		    background: rgba(114, 145, 156, 0.6);
		    color: white;
		    font-size: 24px;
		    display:block;
		    text-align: center;
			vertical-align: middle;
		}
	}
	.second-line {
		

		.bot-left {
			width: 60%;
			height: 600px;
			float: left;
			background-size: cover;
			background-position: center;
			text-align: center;
			vertical-align: middle;
			line-height: 600px;
			color: white;

			.overlay {
				display: none;
				color: white;
			}
		}

		.bot-left:hover > .overlay {
		    width:60%;
		    height:600px;
		    position:absolute;
		    background-color:#000;
		    background: rgba(114, 145, 156, 0.6);
		    color: white;
		    font-size: 24px;
		    display:block;
		    text-align: center;
			vertical-align: middle;
		}

		.bot-right {
			width: 40%;
			height: 600px;
			float: left;
			background-size: cover;
			background-position: center;
			text-align: center;
			vertical-align: middle;
			line-height: 600px;
			color: white;

			.overlay {
				display: none;
				color: white;
			}
		}

		.bot-right:hover > .overlay {
		    width:40%;
		    height:600px;
		    position:absolute;
		    background-color:#000;
		    background: rgba(114, 145, 156, 0.6);
		    color: white;
		    font-size: 24px;
		    display:block;
		    text-align: center;
			vertical-align: middle;
		}
	}
	/* .third-line {
		

		.left {
			width: 60%;
			height: 600px;
			float: left;
			background-image:url(/media/img/high-wood.jpg);
			background-size: cover;
			background-position: center;
			text-align: center;
			vertical-align: middle;
			line-height: 600px;
			color: white;
		}
		.right-third {
			width: 40%;
			height: 600px;
			float: left;
			background-image:url(/media/img/lords-fire.jpg);
			background-size: cover;
			background-position: center;
			text-align: center;
			vertical-align: middle;
			line-height: 600px;
			color: white;
		}
	} */

}

.splitter {
	margin: auto;
	max-width: 800px;
}